/* * --------------------------------------------------------------------
GENERIC STYLES */

/* * UNIVERSAL SELECTOR */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* * ROOT */
:root{
    --fizz-color:red;
    --buzz-color: blue;
    --fizzbuzz-color: violet;
}



/* * TAG HTML */
body{
    font-family: sans-serif;
    min-width: 232px;
}

.container div{
    text-align: center;
    margin: 2rem 0;
}



/* * CLASSES */
.fizz{
    color: var(--fizz-color);
    cursor: pointer;
}

.buzz{
    color: var(--buzz-color);
    cursor: pointer;
}

.number{
    cursor: default;
}

.fizz.buzz{
    color:var(--fizzbuzz-color);
}

.title{
    font-size: 3rem;
    text-align: center;
    cursor: default;
}
